@{
    ViewData["Title"] = "Developer";
    Layout = "_Layout";
}

<h4>Write to the developer:</h4>
<ul class="list-group list-group-flush">
    <li class="list-group-item">in telegram <a href="https://t.me/qw322qw31">@@qw322qw31</a></li>
    <li class="list-group-item">Email: plusharky@yandex.ru</li>
</ul>
